<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ asset('assets/front/css/profile.css') }}" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ asset('assets/front/images/grandLogo.png') }}" />
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
</script>
<title>{% block title %}TuniCollab{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/custom.js') }}"></script>
    <script src="{{ asset('assets/front/js/counter.js') }}"></script>
    <script src="{{ asset('assets/front/js/click-scroll.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Récupérer les éléments de lien des onglets
            var teamLink = document.getElementById('team-link');
            var projectsLink = document.getElementById('projects-link');
        
            // Récupérer les éléments de carte correspondants
            var teamCard = document.getElementById('team-card');
            var projectsCard = document.getElementById('projects-card');
        
            // Définir la carte des projets comme active au chargement de la page
            projectsCard.style.display = 'block';
            teamCard.style.display = 'none';
            projectsLink.classList.add('active');
            teamLink.classList.remove('active');
        
            // Ajouter des écouteurs d'événements aux liens des onglets
            teamLink.addEventListener('click', function() {
                // Afficher la carte de l'équipe et masquer la carte des projets
                teamCard.style.display = 'block';
                projectsCard.style.display = 'none';
        
                // Ajouter/retirer les classes actives pour les styles d'onglet
                teamLink.classList.add('active');
                projectsLink.classList.remove('active');
            });
        
            projectsLink.addEventListener('click', function() {
                // Afficher la carte des projets et masquer la carte de l'équipe
                projectsCard.style.display = 'block';
                teamCard.style.display = 'none';
        
                // Ajouter/retirer les classes actives pour les styles d'onglet
                projectsLink.classList.add('active');
                teamLink.classList.remove('active');
            });
        });
    </script> 
    {% endblock %}
</head>
<body>
    
    {{ include('home/header.html.twig') }}
    {% block body %}
    
 <div class="container">
    <div class="row">
        <div class="col-md-8 mt-4">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                <img src="{{asset('assets/front/images/group-people-volunteering-foodbank-poor-people.jpg')}}" class="img-fluid avatar-xxl rounded-circle" />
                                <h5 class="mb-3">{{ association.nom }}</h5>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div>
                                    <h5 class="mb-lg-3">Profile</h5>
                                    <p class="mb-0 text-muted">{{ association.description }}</p>
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>{{ association.email }}
                                            </p>
                                            <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>{{ association.telephone }}
                                            </p>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                             
                                <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link px-4 " id="projects-link"  href="#">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Projects</span>
                                          
                    
                                        </a>
                                    </li><!-- end li -->
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link px-4 active" data-bs-toggle="tab" id="team-link"  href="#" role="tab" aria-selected="false" tabindex="-1">
                                            <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                            <span class="d-none d-sm-block">Team</span>
                                        </a>
                                    </li><!-- end li -->
                                  
                                </ul><!-- end ul -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end card body -->
            </div>
            <div class="card" id="team-card">
                <div class="tab-content p-4"> 
                    <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                        <div class="row mb-3">
                            <div class="col">
                             
                                <h5 class="mb-0">Team</h5>
                            </div>
                            <div class="col text-end">
                              <button class="custom-btn" data-bs-toggle="modal" data-bs-target="#newModal">+ New member </button>
                              <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="newModalLabel">New member</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                                                <div class="w-full">
                                                   
                                                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                              
                                                    {{ form_row(form.emailMembre, {'label': 'Email:', 'attr': {'class': 'form-control'}}) }}
                                                    {% if form_errors(form.emailMembre) %}
                                                        <div class="text-danger">
                                                            {{ form_errors(form.emailMembre) }}
                                                        </div>
                                                    {% endif %}
                                                   
                                                    {{ form_row(form.nomMembre, {'label': 'Nom:', 'attr': {'class': 'form-control'}}) }}
                                                    {% if form_errors(form.nomMembre) %}
                                                        <div class="text-danger">
                                                            {{ form_errors(form.nomMembre) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_row(form.prenomMembre, {'label': 'PrenomMembre:', 'attr': {'class': 'form-control'}}) }}
                                                    {% if form_errors(form.prenomMembre) %}
                                                        <div class="text-danger">
                                                            {{ form_errors(form.prenomMembre) }}
                                                        </div>
                                                    {% endif %}
                                                   
                                               
                                                    {{ form_row(form.telephone, {'label': 'Telephone:', 'attr': {'class': 'form-control'}}) }}
                                                    {% if form_errors(form.telephone) %}
                                                        <div class="text-danger">
                                                            {{ form_errors(form.telephone) }}
                                                        </div>
                                                    {% endif %}
                                                    {{ form_row(form.fonction, {'label': 'Fonction:', 'attr': {'class': 'form-control'}}) }}
                                                    {% if form_errors(form.fonction) %}
                                                        <div class="text-danger">
                                                            {{ form_errors(form.fonction) }}
                                                        </div>
                                                    {% endif %}
                                              
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">  
                                {% for team in membres %}
                                <div class="task-list-box" id="design-task">
                                    <div id="task-item-2"> 
                                        <div class="card task-box rounded-3">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-6 col-sm-5">
                                                        <div class="checklist form-check font-size-15">
                                                            <label class="form-check-label ms-1 task-title" for="customCheck2">{{ team.nomMembre }} {{ team.prenomMembre }}</label>
                                                        </div>
                                                        
                                                    </div><!-- end col -->
                                                    <div class="col-xl-6 col-sm-6">
                                                        <div class="row align-items-center">
                                                            <div class="col-xl-5 col-md-6 col-sm-5">
                                                                
                                                                {{team.fonction}}
                                                                    
                                                            </div><!-- end col -->
                                                            <div class="col-xl-7 col-md-6 col-sm-7">
                                                                <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                    <div>
                                                                        <a href="{{ path('app_details_membre', {'id': team.id}) }}" class="badge rounded-pill badge-soft-warning font-size-11 task-status">Detail</a>
                                                                    </div>
                                                                    <div>
                                                                        <a href="{{ path('app_edit_membre', {'id': team.id}) }}" class="badge rounded-pill badge-soft-warning font-size-11 task-status">Edit</a>
                                                                    </div>
                                                                    <div>
                                                                        <a href="{{ path('app_delete_membre', {'id': team.id}) }}" class="badge rounded-pill badge-soft-warning font-size-11 task-status">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end col -->
                                                        </div><!-- end row -->
                                                    </div><!-- end col -->
                                                </div><!-- end row -->
                                            </div><!-- end cardbody -->
                                        </div><!-- end card -->
                                    </div>
                                </div>
                                {% endfor %}
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end tab pane -->
                </div>
            </div>
            
            <div class="card project" id="projects-card">
                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                        <div class="">
                            <div class="row mb-3">
                                <div class="col">
                                    <h5 class="mb-3">Projects</h5>
                                </div>
                                <div class="col text-end">
                                    <button class="custom-btn" data-bs-toggle="modal" data-bs-target="#newModal2">+ New Project </button>
                                    <div class="modal fade" id="newModal2" tabindex="-1" aria-labelledby="newModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="newModalLabel2">New Project</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal2" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                                                        <div class="w-full">
                                                           
                                                            {{ form_start(form2, {'attr': {'class': 'form'}}) }}
                                                           
                                                            {{ form_row(form2.nomProjet, {'label': 'Nom:', 'attr': {'class': 'form-control'}}) }}
                                                            {% if form_errors(form2.nomProjet) %}
                                                                <div class="text-danger">
                                                                    {{ form_errors(form2.nomProjet) }}
                                                                </div>
                                                            {% endif %}
                                                            {{ form_row(form2.status, {'label': 'Status:', 'attr': {'class': 'form-control'}}) }}
                                                            {% if form_errors(form2.status) %}
                                                                <div class="text-danger">
                                                                    {{ form_errors(form2.status) }}
                                                                </div>
                                                            {% endif %}
                                                           
                                                       
                                                            {{ form_row(form2.dateDebut, {'label': 'Date  de Debut:', 'attr': {'class': 'form-control'}}) }}
                                                            {% if form_errors(form2.dateDebut) %}
                                                                <div class="text-danger">
                                                                    {{ form_errors(form2.dateDebut) }}
                                                                </div>
                                                            {% endif %}
                                                            {{ form_row(form2.dateFin, {'label': 'Date de Fin:', 'attr': {'class': 'form-control'}}) }}
                                                            {% if form_errors(form2.dateFin) %}
                                                                <div class="text-danger">
                                                                    {{ form_errors(form2.dateFin) }}
                                                                </div>
                                                            {% endif %}
                                                            {{ form_row(form2.description, {'label': 'Description:', 'attr': {'class': 'form-control'}}) }}
                                                            {% if form_errors(form2.description) %}
                                                                <div class="text-danger">
                                                                    {{ form_errors(form2.description) }}
                                                                </div>
                                                            {% endif %}
                                                       
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                 

                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal2">Annuler</button>
                                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal2">Add</button>
                                                </div>
                                                {% for flash_message in app.flashes('error') %}
                                                <div class="alert alert-danger">{{ flash_message }}</div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    
                                </div>
            
                            </div>
                        </div>
            
                        <div class="row" id="all-projects">
                            {% for projet in projets %}
                            <div class="col-md-6" id="project-items-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-3">
                                            <div class="flex-grow-1 align-items-start">
                                                <div>
                                                    <h6 class="mb-0 text-muted">
                                                        <i class="mdi mdi-circle-medium text-success fs-3 align-middle"></i>
                                                        <span class="team-date">{{ projet.dateDebut|date('Y-m-d') }}</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="dropdown ms-2">
                                                <a href="#" class="dropdown-toggle font-size-16 text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end"> 
                                                    <a class="dropdown-item" href="{{ path('app_details_projet', {'id': projet.id}) }}">Detail</a>
                                                    <a class="dropdown-item" href="{{ path('app_delete_projet', {'id': projet.id}) }}"" data-bs-toggle="modal" data-bs-target=".bs-example-new-project" >Edit</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item delete-item" href="{{ path('app_delete_projet', {'id': projet.id}) }}" data-id="{{ projet.id }}">Delete</a>
                                                </div>
                                                
                                            </div>
                                        </div>
            
                                        <div class="mb-4">
                                            <h5 class="mb-1 font-size-17 team-title">{{projet.nomProjet}}</h5>
                                            <p class="text-muted mb-0 team-description">{{projet.description}}</p>
                                        </div>
                                        <div class="d-flex">
                                            <div class="avatar-group float-start flex-grow-1 task-assigne">
                                              
                                            </div><!-- end avatar group -->
                                            <div class="align-self-end">
                                                <span class="badge badge-soft-success p-2 team-status">{{projet.status}}</span>
                                            </div>
                                        </div>
                                    </div><!-- end cad-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            {% endfor %}
                        </div><!-- end row -->
                    </div><!-- end tab pane -->     
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="custom-text-box mb-lg-0">
                    <h5 class="mb-3">Our Mission</h5>
    
                    <p>Sed leo nisl, posuere at molestie ac, suscipit auctor quis metus</p>
    
                    <ul class="custom-list mt-2">
                        <li class="custom-list-item d-flex">
                            <i class="bi-check custom-text-box-icon me-2"></i>
                            Charity Theme
                        </li>
    
                        <li class="custom-list-item d-flex">
                            <i class="bi-check custom-text-box-icon me-2"></i>
                            Semantic HTML
                        </li>
                    </ul>    
                <hr>
                <div class="pt-2">
                    <div class="tags-block">
                        <h5 class="mb-3">SKILLS</h5>
    
                        <a href="#" class="tags-block-link">
                            Donation
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Clothing
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Food
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Children
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Education
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Poverty
                        </a>
    
                        <a href="#" class="tags-block-link">
                            Clean Water
                        </a>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="mb-3">Informations</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td >Jansh Wells</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Location</th>
                                    <td>California, United States</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Language</th>
                                    <td>English</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Website</th>
                                    <td>abc12@probic.com</td>
                                </tr><!-- end tr -->
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="mb-3">Work Experince</h5>

                    <ul class="list-unstyled work-activity mb-0">
                        <li class="work-item" data-date="2020-21">
                            <h6 class="lh-base mb-0">ABCD Company</h6>
                            <p class="font-size-13 mb-2">Web Designer</p>
                            <p>To achieve this, it would be necessary to have uniform grammar, and more
                                common words.</p>
                        </li>
                        <li class="work-item" data-date="2019-20">
                            <h6 class="lh-base mb-0">XYZ Company</h6>
                            <p class="font-size-13 mb-2">Graphic Designer</p>
                            <p class="mb-0">It will be as simple as occidental in fact, it will be
                                Occidental person, it will seem like simplified.</p>
                        </li>
                    </ul><!-- end ul -->
                </div>
            </div><!-- end card-body -->
        </div>
        </div>
    </div>
 </div>
    
    
    
    
    
    
    
    
    
    

    {% endblock %}

    {{ include('home/footer.html.twig') }}
</body>
</html>