{% extends 'baseAdmin.html.twig' %}

{% block body %}
<main class="h-full pb-16 overflow-y-auto">
  <div class="container grid px-6 mx-auto">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Liste des dons
    </h2>
    <!-- Table with actions -->
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Montant</th>
              <th class="px-4 py-3">Date de mise</th>
              <th class="px-4 py-3">Type</th>
              <th class="px-4 py-3">Association</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for don in Dons %}
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">{{ don.montant }}</td>
              <td class="px-4 py-3">{{ don.dateMisDon|date('d-m-Y') }}</td>
              <td class="px-4 py-3">{{ don.type is not null ? don.type.nom : '' }}</td>
              <td class="px-4 py-3">{{ don.association is not null ? don.association.nom : '' }}</td>
              <td class="px-4 py-3">
                <a href="{{ path('dons_modifier_admin', {'id': don.id}) }}" class="btn btn-secondary">Modifier</a>
                <a href="{{ path('dons_delete_admin', {'id': don.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce don ?')">Supprimer</a>
              </td>
            </tr>
            {% else %}
            <tr>
              <td class="px-4 py-3 text-sm">No records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     
    </div>
     <br>
    <a href="{{ path('dons_add_admin') }}" class="btn btn-primary">Ajouter un don</a>
    <br>
  </div>
  
</main>
 
{% endblock %}
