<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}TuniCollab{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">
    
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/custom.js') }}"></script>
    <script src="{{ asset('assets/front/js/counter.js') }}"></script>
    <script src="{{ asset('assets/front/js/click-scroll.js') }}"></script>
    <script>
        
        function hideFlashMessages() {
            const flashMessages = document.querySelectorAll('.alert');
            flashMessages.forEach(message => {
                setTimeout(() => {
                    message.style.display = 'none';
                }, 5000); 
            });
        }

        
        document.addEventListener('DOMContentLoaded', () => {
            hideFlashMessages();
        });
    </script>
    {% endblock %}
</head>
<body>
    {{ include('home/header.html.twig') }}
     {# Afficher les messages flash de succès #}
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

        {# Afficher les messages flash d'erreur #}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% block body %}
    {{ include('home/index.html.twig') }}
    {% endblock %}

    {{ include('home/footer.html.twig') }}
</body>
</html>