<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}TuniCollab{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/custom.js') }}"></script>
    <script src="{{ asset('assets/front/js/counter.js') }}"></script>
    <script src="{{ asset('assets/front/js/click-scroll.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
 



    <script> 
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var query = $(this).val();
            if (query.length === 0) {
                
               $.ajax({
                    url: "{{ path('search_service') }}",
                    type: "GET",
                    
                    success: function (response) {
                        var results = response.results;
                        var message = response.message;

                        if (results.length > 0) {
                            $('#prev').hide();
                            $('#new').empty();
                            $('#new').show();
                            $.each(results, function (i, service) {
                                var card = '<div class="col-md-6">' +
        '<div class="card">' +
        '<img src="assets/front/images/causes/group-african-kids-paying-attention-class.jpg" class="card-img-top" alt="Event Image">' +
        '<div class="card-body">' +
        '<h5 class="card-title">' + Service.nomService + '</h5>' +
        '<p class="card-text">' + service.description + '</p>' +
        '<p class="card-text"><strong>Date:</strong> ' + event.date + ' - ' + event.dateFin + '</p>' +
        '<p class="card-text"><strong>Type:</strong> ' + event.type + '</p>' +
        '<p class="card-text"><strong>Location:</strong> ' + event.localisation + '</p>' +
        '</div>' +
        '</div>' +
        '</div>';
                                $('#new').append(card);
                            });
                        } else {
                            
                            $('#prev').show();
                            $('#new').hide();
                            
                    }

                        console.log(message); // Afficher le message dans la console pour le débogage
                    },
                    error: function () {
                        console.error("Une erreur s'est produite lors du traitement de la requête AJAX.");
                    }
               });
                
            } else {
                $.ajax({
                    url: "{{ path('search_service') }}",
                    type: "GET",
                    data: { query: query },
                    success: function (response) {
                        var results = response.results;
                        var message = response.message;

                        if (results.length > 0) {
                            $('#prev').hide();
                            $('#new').empty();
                            $('#new').show();
                            $.each(results, function (i, event) {
                                var card = '<div class="col-md-6">' +
        '<div class="card">' +
        '<img src="assets/front/images/causes/group-african-kids-paying-attention-class.jpg" class="card-img-top" alt="Event Image">' +
        '<div class="card-body">' +
        '<h5 class="card-title">' + event.nomEvent + '</h5>' +
        '<p class="card-text">' + event.description + '</p>' +
        '<p class="card-text"><strong>Date:</strong> ' + event.date + ' - ' + event.dateFin + '</p>' +
        '<p class="card-text"><strong>Type:</strong> ' + event.type + '</p>' +
        '<p class="card-text"><strong>Location:</strong> ' + event.localisation + '</p>' +
        '</div>' +
        '</div>' +
        '</div>';
                                $('#new').append(card);
                            });
                        } else {
                            
                            $('#prev').show();
                            $('#new').hide();
                            
                        }

                        console.log(message); // Afficher le message dans la console pour le débogage
                    },
                    error: function () {
                        console.error("Une erreur s'est produite lors du traitement de la requête AJAX.");
                    }
                });
            }
        });
    });</script>

    {% endblock %}
</head>
<body>
    {{ include('home/header.html.twig') }}
    {% block body %}
    {{ include('home/index.html.twig') }}
    {% endblock %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64065d7b567fbf001a2d5d17&product=inline-share-buttons&source=platform" async="async"></script>

    {{ include('home/footer.html.twig') }}
</body>
</html>
