
{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Service.id }}</td>
            </tr>
            <tr>
                <th>NomService</th>
                <td>{{ Service.nomService }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ Service.description }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ Service.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
     {# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons"></div>
         {# -------------------------- Share ------------------------------------  #}

    <a href="{{ path('app_Service_index') }}">back to list</a>
  


    <a href="{{ path('app_Service_edit', {'id': Service.id}) }}">edit</a>
    <img src="{{ path('service_qr_code', {'id': Service.id}) }}" alt="QR Code">
    


    {{ include('front/Service/_delete_form.html.twig') }}
{% endblock %}
